

.card {
   margin-top: 10px;
    border: 1px solid black;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    
}


.card img {
    width: 40%;
}

.cat {
    position:sticky;
    margin: auto;
    border: 2px solid black;
    width: fit-content;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    background-color:rgb(250, 143, 193);
    box-shadow: 0 8px 8px 0 rgb(221, 34, 190);
}


.cat img {
    width: 200px;
}

.carddeux{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    animation: trickshot 10s linear infinite;
    box-shadow: 2px 2px 15px black;
    transition: 1s;
}


.carddeux:hover{
transform: scale(1,05);
}

@keyframes trickshot{
0% { rotate: 0deg;

}

50%{
    rotate: 50deg;
}


100% {
    padding: 100deg
}


} 

.img{
    width: 40%;
}

.carte {
    margin-top: 10px;
    border: 3px dashed red;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}
.carte img {
    width: 200px;
    height: 2OOpx;
}



.carte {
    border: 2px dotted red;
    width: fit-content;
    padding: 5px;
    border-radius: 15px;
    text-align: center;


.flex {
    display: flex;
    justify-content: center;
}

.cartee {
    text-align: center;
    width: 354px;
    height: 377px;
    background-color: rgb(5, 91, 34);
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    border-radius: 10px 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}


.cartee:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3); 
  background-color: green;   

}



#theBest{
    width: 300px;
}


#bienNUL{
    display: block;
}

.card2 {
    margin-top: 10px;

}

.flex {
    display: flex;
    justify-content: space-evenly;
}

.carte img{
    width: 40%;
}

.ma-carte{
    border: 3px solid rgb(255, 0, 0);
    width: fit-content;
    border-radius: 10px;
    text-align: center;
    margin-top: 40px;


#loutre {
    font-size: xx-large;
}

.cart-kaamelott{
    margin-top: 2em;
    background-color: brown ;
    display: flex;
    justify-items: center;
    align-items: center;
}






.cart-kaamelott p {
    color:white;
    text-decoration: dotted;
}
  
.cardsimon {
    border: 2px solid rgb(47, 209, 6);
    width: fit-content;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    
}

.cardsimon img {

    width : 350px;
    height : 250px;

}
