

.card {
   margin-top: 10px;
    border: 1px solid black;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}


.card img {
    width: 40%;
}

.carte {
    margin-top: 10px;
    border: 3px dashed red;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}
.carte img {
    width: 20%;
}



