

.card {
    border: 1px solid black;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}


.card img {
    width: 40%;
}


.cardsimon {

    border: 2px solid rgb(47, 209, 6);
    width: fit-content;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    
}

.cardsimon img {

    width : 350px;
    height : 250px;

}
